*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1{ 
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 200px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
  margin: 5rem 0;
}
h2{ 
  color: #111; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 72px; 
  text-align: center;
  margin: 2rem;
}
hr{ 
  height: 10px; 
  width: 90%; 
  margin-left: 5%;
  background-color: black; 
}
#blocks{
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
.block{
  width: 25%;
  height: 100px;
}
.block:first-child{
  background-color: #111;
}
.block:nth-child(2), .block:last-child{
  background-color: #f11;
}
.block:nth-child(3), .block:nth-child(6){
  background-color: #ffc919;
}
.block:nth-child(4), .block:nth-child(5), .block:nth-child(7){
  background-color: #4343ff;
}